<html>

<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<h1>Standings</h1>

<table>

<thead>
  <tr>
    <th>Teams</th>
    <th>Sets Played</th>
    <th>Sets Won</th>
    <th>Sets loss</th>
    <% if user_signed_in? %>
    	<th></th>
    	<th></th>
    <% end %>

  </tr>
</thead>

<tbody>
<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team %></td>
    <td><%= team.sets_played %></td>
    <td><%= team.wins %></td>
    <td><%= team.losses %></td>
    	<td><%= link_to 'Edit', edit_team_path(team) %></td>
    	<td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
 
</table>

<br />
		<%= link_to 'New Team', new_team_path %>
</html>
