<p id="notice"><%= notice %></p>

<h1>
  <%= @team.name %> 
</h1>

<p>
  Record:(<%= @team.wins%>W-<%=@team.losses%>L)
</p>


<!-- <%= link_to 'Edit', edit_team_path(@team) %> | -->
<%= link_to 'Back', teams_path %>
