<p id="notice"><%= notice %></p>

<div class="container-narrow">
	<hr>
	<div class="jumbotron">
		<h1> <%= @team.name %> </h1>
		<p class="lead">Record:(<%= @team.wins%>W-<%=@team.losses%>L)</p>
	</div>

	<hr>
	<div class="row-fluid marketing">
    	<div class="span6">
    		<h4><%= link_to 'Teams', teams_path %></h4>
    		<% @teams.each do |team| %>
        		<p><%= link_to "#{team.name}", team %> </p>
        	<% end %>
        </div>

        <div class="span6">
    		<h4>Players</h4>
    		<% @users.each do |user| %>
        		<p><%= user.email %> </p>
        	<% end %>
        </div>
	
        <div class="span6">
			<h4>Schedule</h4>
		</div>
	</div>

        
<!-- <%= link_to 'Edit', edit_team_path(@team) %> | -->
<%= link_to 'Back to League', seasons_path %>
	<hr>
</div>


