<%= form_for(@season) do |f| %>
  <% if @season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@season.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @season.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :league_name %><br />
    <%= f.text_field :league_name %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date  %><br />
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end %>
  </div>
  <div class="field">
    <%= f.label :day_of_week %><br />
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :number_of_courts %><br />
    <%= f.number_field :number_of_courts %>
  </div>
  <div class="field">
    <%= f.label :number_of_timeslots %><br />
    <%= f.number_field :number_of_timeslots %>
  </div>
  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>
