<p id="notice"><%= notice %></p>

<h1><%= @season.league_name %></h1>

<p><%= "#{@season.name} #{@season.end.strftime('%Y')}" %></p>

	<div class="span6">
		<h4>Seasons</h4>
			<% @seasons.each do |stable| %>
			<p><%= link_to "#{stable.league_name} #{stable.name}", stable %></p>
			<p><%= "#{stable.start} - #{stable.end}" %></p>
			<% end %>
	</div>

        <div class="span6">
          <h4>Teams</h4>
          	<% @teams.each do |team| %>
          		<p><%= team.name %></p>	
          	<% end %>
        </div>

        <div class="span6">
          <h4>Players</h4>

        </div>