<html>

<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<p id="notice"><%= notice %></p>
    
      <div class="masthead">
        <ul class="nav nav-pills pull-left">
        	<li><%= link_to 'Home', season_url %></li>
        	<li><%= link_to 'Standings', standings_url %></li>
        	<li><%= link_to 'Schedule', schedule_url %></li>
        </ul>
      </div>


<div class="container-wide">

	<hr>
	<div class="jumbotron">
		<h1><%= @season.league_name %></h1>

		<p class="lead"><%= "#{@season.name} #{@season.end.strftime('%Y')}" %></p>
	</div>
	
	<hr>
	
	<div class="row-fluid marketing">
		<div class="span3">
			<h4><%= link_to "Standings", standings_url %></h4>
			<table>

				<thead>
					<tr>
						<th>Teams</th>
						<th>Sets Won</th>
<!-- 						<th>Sets loss</th> -->
						<% if user_signed_in? %>
							<th></th>
							<th></th>
						<% end %>

					</tr>
				</thead>
				
				<tbody>
				<% seasonteams = @seasonteams.sort_by! {|st|[st.wins, st.match_wins]}%>
				<% seasonteams.reverse.each do |seasonteam| %>
					<tr>
          				<td><%= link_to "#{seasonteam.team.name} ", [seasonteam.season, seasonteam] %> </td>
          				<td><%= seasonteam.wins %></td>
<!--           				<td><%= seasonteam.losses %></td> -->
					</tr>
          		<% end %>
				</tbody>
			</table>	
		</div>
	
        <div class="span9">
		
        	<h4><%= link_to "View Regular Season Schedule", schedule_url %></h4>
        	<h3>Playoffs<h3>
<!--         	<p>Upcomming Matchups</p> -->
<!--
        	
        	<% @matches.each do |m| %>     
        	
        	<tr <%= m.date < DateTime.now - 1.days || m.date > DateTime.now + 6.days ? "class='done mute hide'" : "class='upcomming'" %>> 
        		<td><%= m.date.strftime("%m/%d/%Y")%></td>
        	</tr>
        	
        	<% end %>
-->
			<h4>March 11, 2013</h4>
			<table>
				<thead>
					<th>Time</th>
					<th>Court 1</th>
					<th>Court 2</th>
				</thead>
				
				<tbody>
					<tr>
						<td>7:00pm</td>
						<td>(2)Mario Karters vs (7)Generations</td>
						<td>(3)Jabbonga vs (6) Chivas</td>
					</tr>
					<tr>
						<td>8:00pm</td>
						<td>(1)StrightSix vs (8)Babes and Bobs </td>
						<td>(4)In Your Face vs (5)Fireballers </td>
					</tr>



				</tbody>
			</table>        
        				<br>
			
			<h4>March 18, 2013</h4>
			<table>
				<thead>
					<th>Time</th>
					<th>Court 1</th>
					<th>Court 2</th>
				</thead>
				
				<tbody>
					<tr>
						<td>7:00pm</td>
						<td>[W of (1) vs (8)] VS [W of (4) vs (5)] </td>
						<td>[W of (2) vs (7)] VS [W of (3) vs (6)] </td>
					</tr>

					<tr>
						<td>8:00pm</td>
						<td colspan = "2">Championship</td>
					</tr>

				</tbody>
			</table>
<!--
        	<table>
	        	<thead>
	        		<th>Date</th>
		        	<th>Time</th>
		        	<th>Court</th>
		        	<th>Home</th>
		        	<th>Away</th>	
		        </thead>
		        
		        <% @matches.each do |m| %>
		        
		        <tr <%= m.date < DateTime.now - 1.days || m.date > DateTime.now + 6.days ? "class='done mute hide'" : "class='upcomming'" %>>
		        	<td><%= m.date.strftime("%m/%d/%Y")%></td>
			        <td><%= m.timeslot.name%></td>
			        <td><%= m.court%></td>
			        <td><%= link_to "#{m.display_home_team_name}", [m.season, m.season_home_team] %></td>
			        <td><%= link_to "#{m.display_away_team_name}", [m.season, m.season_away_team] %></td>
			    </tr>
			    <% end %>
-->
			    
			</table>
			
        </div>
	</div>
	<hr>
</div>

</html>