<html>

<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<p id="notice"><%= notice %></p>
    
      <div class="masthead">
        <ul class="nav nav-pills pull-left">
        	<li><%= link_to 'Home', season_url %></li>
        	<li><%= link_to 'Standings', standings_url %></li>
        	<li><%= link_to 'Schedule', schedule_url %></li>
        </ul>
      </div>


<div class="container-wide">

	<hr>
	<div class="jumbotron">
		<h1><%= @season.league_name %></h1>

		<p class="lead"><%= "#{@season.name} #{@season.end.strftime('%Y')}" %></p>
	</div>
	
	<hr>
	
	<div class="row-fluid marketing">
		<div class="span5">
			<h4><%= link_to "Standings", standings_url %></h4>
			<table>

				<thead>
					<tr>
						<th>Teams</th>
						<th>Sets Won</th>
						<th>Sets loss</th>
						<% if user_signed_in? %>
							<th></th>
							<th></th>
						<% end %>

					</tr>
				</thead>
				
				<tbody>
				<% seasonteams = @seasonteams.sort_by! {|st|[st.wins, st.match_wins]}%>
				<% seasonteams.reverse.each do |seasonteam| %>
					<tr>
          				<td><%= link_to "#{seasonteam.team.name} ", [seasonteam.season, seasonteam] %> </td>
          				<td><%= seasonteam.wins %></td>
          				<td><%= seasonteam.losses %></td>
					</tr>
          		<% end %>
				</tbody>
			</table>	
		</div>
	
        <div class="span7">
		
        	<h4><%= link_to "View Full Schedule", schedule_url %></h4>
        	<p>Upcomming Matchups</p>
        	<table>
	        	<thead>
	        		<th>Date</th>
		        	<th>Time</th>
		        	<th>Court</th>
		        	<th>Home</th>
		        	<th>Away</th>	
		        </thead>
		        
		        <% @matches.each do |m| %>
		        
		        <tr <%= m.date < DateTime.now - 1.days || m.date > DateTime.now + 6.days ? "class='done mute hide'" : "class='upcomming'" %>>
		        	<td><%= m.date.strftime("%m/%d/%Y")%></td>
			        <td><%= m.timeslot.name%></td>
			        <td><%= m.court%></td>
			        <td><%= link_to "#{m.display_home_team_name}", [m.season, m.season_home_team] %></td>
			        
			        <td><%= link_to "#{m.display_away_team_name}", [m.season, m.season_away_team] %></td>
			    </tr>
			    <% end %>
			    
			</table>
			
        </div>
	</div>
	<hr>
</div>

</html>