<p id="notice"><%= notice %></p>

<p>
  <b>Date</b>
  <%= @schedule.date %>
</p>

<p>
  <b>Time</b>
  <%= @schedule.timeslot %>
</p>

<p>
  <b>Court</b>
  <%= @schedule.court %>
</p>

<p>
  <b>Home</b>
  <%= @schedule.teamA %>
</p>

<p>
  <b>Away</b>
  <%= @schedule.teamA %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
