<html>
<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<p id="notice"><%= notice %></p>
    
<div class="masthead">
	<ul class="nav nav-pills pull-left">
    	<li><%= link_to 'Home', season_path(@season) %></li>
        <li><%= link_to 'Standings', standings_path(@season) %></li>
        <li><%= link_to 'Schedule', schedule_path(@season) %></li>
    </ul>
</div>
      
<div class="container-wide">
	<hr>
	<div class="jumbotron">
		<h1> <%= @season_team.team.name %> </h1>
		<p class="lead">Record:(<%= @season_team.wins%>W-<%=@season_team.losses%>L)</p>
	</div>

	<hr>
	<div class="row-fluid marketing">


<!--
        <div class="span6">
    		<h4>Players</h4>
    		<% @users.each do |user| %>
        		<p><%= user.email %> </p>
        	<% end %>
        </div>
-->
	
        <div class="span6">
			<h4>Schedule</h4>
			<body>

				<table border="1" cellpadding="8">
					<thead>

						<th>Date</th>
						<th>Time</th>
						<th>Court</th>
						<th>Opponent</th>

					</thead>
				
				<% matches = @matches.sort_by! {|m|m.date}%>
				<% matches.each do |match| %>
					<tr>
						<td><%= match.date.strftime("%m/%d/%Y") %></td>
						<td><%= match.timeslot.name%></td>
						<td><%= match.court%></td>
						<td><%= match.display_opponent(@season_team) %></td>
						
					</tr>
				<% end %>
				
				</table>
			</body>
		</div>
	</div>

        
<%= link_to 'Back to League', season_path(@season) %>
	<hr>
</div>
</html>