<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :timeslot %><br />
    <%= f.text_field :timeslot %>
  </div>
  <table>
  
  	<thead>
  		<th>Game</th>
  		<th> <%= @match.season_home_team.team.name %></th>
  		<th> <%= @match.season_away_team.team.name %></th>
  	</thead>
		<%= f.fields_for :games do |games_fields| %>
			  <tr>
			  	<td><%= games_fields.text_field :sequence_id %></td>
			    <td><%= games_fields.text_field :teamA_score %></td>
			    <td><%= games_fields.text_field :teamB_score %></td>
			  </tr>

		<% end %>
  
  </table>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
