<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :timeslot %><br />
    <%= f.text_field :timeslot %>
  </div>
  <%= form_for(@games) do |f| %>
  
  <div class="field">
    <%= f.label :teamA_score %><br />
    <%= f.number_field :teamA_score %>
  </div>
  <div class="field">
    <%= f.label :teamB_score %><br />
    <%= f.number_field :teamB_score %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
