<html>

<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<p id="notice"><%= notice %></p>

      <div class="masthead">
        <ul class="nav nav-pills pull-left">
        	<li><%= link_to 'Home', season_url %></li>
        	<li><%= link_to 'Standings', standings_url %></li>
        	<li><%= link_to 'Schedule', schedule_url %></li>
        </ul>
      </div>


<div class="container-wide">

	<hr>
	
	<div class="jumbotron">
		<h1>Schedule</h1>
		<p class="lead"><%= "#{@season.name} #{@season.end.strftime('%Y')}" %></p>
	</div>
	
	<hr>
	<h4><%= link_to "View Playoff Projection", playoff_url %></h4>
	<div class="row-fluid marketing">
<!-- 		<p><a id="display-past-games" href="#">Display past matches</a></p> -->
		<table border="1" cellpadding="8">
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Court</th>
				<th>Home</th>
				<th>Away</th>
			</thead>

			<% @matches.each do |match| %>
			<tr>
<!-- 			<tr <%= match.date < DateTime.now - 1.days ? "class='done mute hide'" : "class='upcomming'" %>> -->
				<td><%= match.date.strftime("%m/%d/%Y") %>  </td>
				<td><%= match.timeslot.name%></td>
				<td><%= match.court%></td>
<!-- 				<td><%= link_to "#{match.court}", [match.season, match] %></td> -->
				<td><%= match.display_home_team_name %></td>
				<td><%= match.display_away_team_name %></td>
				<% if user_signed_in? %>
					<td><%= link_to 'Show', match %></td>
					<td><%= link_to 'Edit', edit_match_path(match) %></td>
					<td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			</tr>
			<% end %>
		</table>
	</div>
	
	<div>
		<p> Playoffs </p>
		<p> December 3, 2013 </p>
		<table border="1" cellpadding="4">
			<thead>
				<th>Time</th>
				<th>Court 1</th>
				<th>Court 2</th>
			</thead>
			<tbody>
			
			<tr>
				<td>7:00pm</td>
				<td>(3rd) vs (6th) </td>
				<td>(4th) vs (5th) </td>
			</tr>

			<tr>
				<td>8:00pm</td>
				<td>(2nd) vs (Winner of 3rd vs 6th)</td>
				<td>(1st) vs (Winner of 4th vs 5th)</td>
			</tr>
			
			<tr>
				<td>9:00pm</td>
				<td colspan = "2">Championship</td>
			</tr>

			</tbody>
		</table>
	</div>
</div>

</html>

<script type="text/javascript">
(function ($) {
	$(function() {
		$('#display-past-games').click(function () {
			$('.done').removeClass('hide');
			return false;
		});
		
	});
})(jQuery);

</script>


