<html>

<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<p id="notice"><%= notice %></p>

      <div class="masthead">
        <ul class="nav nav-pills pull-left">
        	<li><%= link_to 'Home', season_url %></li>
        	<li><%= link_to 'Standings', standings_url %></li>
        	<li><%= link_to 'Schedule', schedule_url %></li>
        </ul>
      </div>


<div class="container-wide">

	<hr>
	
	<div class="jumbotron">
		<h1>Schedule</h1>
		<p class="lead"><%= "#{@season.name} #{@season.end.strftime('%Y')}" %></p>
	</div>
	
	<hr>

	<div class="row-fluid marketing">
		<table border="1" cellpadding="8">
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Court</th>
				<th>Home</th>
				<th>Away</th>
			</thead>

			<% @matches.each do |match| %>
			
			<tr>
				<td><%= match.date.strftime("%m/%d/%Y") %></td>
				<td><%= match.timeslot.name%></td>
				<td><%= link_to "#{match.court}", match %></td>
				<td><%= match.display_home_team_name %></td>
				<td><%= match.display_away_team_name %></td>
				<% if user_signed_in? %>
					<td><%= link_to 'Show', match %></td>
					<td><%= link_to 'Edit', edit_match_path(match) %></td>
					<td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			</tr>
			<% end %>
		</table>
	</div>
</div>

</html>


