<p id="notice"><%= notice %></p>

<p>
  <b>Date</b>
  <%= @match.date %>
</p>

<p>
  <b>Time</b>
  <%= @match.timeslot %>
</p>

<p>
  <b>Away</b>
  <%= @match.teamA %>
</p>

<p>
  <b>Home</b>
  <%= @match.teamB %>
</p>

<p>
  <b>Away</b>
  <%= @match.teamA %>
</p>

<p>
  <b>Away</b>
  <%= @match.teamB %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
