
<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<p id="notice"><%= notice %></p>

<p>
  <b>Date</b>
  <%= @match.date.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Time</b>
  <%= @match.timeslot.name %>
</p>

<hr>
	<div class="row-fluid marketing">
        <div class="span12">
			<table>
			
			<thead>
			  <tr>
			  	<th></th>
			    <th><%= @match.season_home_team.team.name %></th>
			    <th><%= @match.season_away_team.team.name %></th>
			<!--
			    <% if user_signed_in? %>
			    	<th></th>
			    	<th></th>
			    <% end %>
			-->
			
			  </tr>
			  
			  <% @match.games.each do |g| %>
			  <tr>
			  	<td><%= g.sequence_id %></td>
			    <td><%= g.teamA_score %></td>
			    <td><%= g.teamB_score %></td>
<!-- 			    <td><%= link_to 'Edit', edit_game_path(g) %></td> -->
			  </tr>
			  <% end %>
			  
			</thead>

			 
			</table>
        </div>
	</div>




<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', schedule_path(@season) %>
