<!DOCTYPE html>
<html>
<head>
  <title>League Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
      <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><%= link_to 'Seasons', seasons_url %></li>
          <li><%= link_to 'Contact', contacts_url %></li>
        </ul>
        <h3 class="muted"><%=link_to 'Ultimate League Experience', home_url %></h3>
      </div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>


    <footer>
    	<% if user_signed_in? %>
        	<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
        	<li><%= link_to'Sign In', sign_up_url %></a></li>
        <% end %>
    </footer>
</body>
</html>

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
